body {
    background-color: rgb(190, 190, 190);
    padding: 0;
    margin: 0;
    font-family: 'Raleway', 'roboto' ,sans-serif, 'arial';
}

/* contenedor general */

.informacion-general  {
    margin: 40px auto;
    width: 1600px;
    height: 2410px;
    background-color: white;
}    

/* contenedor superior */

.contenedor-superior {
    display: flex;
    flex-direction: row;
}

.logo-principal {
    margin-top: 25px;
    margin-left: 40px;
    color: #2196F3;
    font-size: 45px;

}

.estudio {
    font-family: 'Roboto';
    color: #2196F3;
    margin: 50px;
}

.Portafolio {
    margin-top: 50px;
}


.Contactos {
    margin-top: 50px;
    margin-left: 45px;
}

.enlaces-de-contacto-mail {
    margin-top: 50px;
    margin-left: 500px;
}

.enlaces-de-contacto-tel {
    margin-top: 50px;
    margin-left: 50px;
}


/* contenedor de titulo */

.segundo-contenedor {
    padding-block: 180px;
    background: #2F303A;
}

.titulo-principal {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    color:white;
}

.solicite-nuestro-servicio { 
    display:inline-flex;
    align-items:center;
    width: 280px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    color: white;
    margin-left: 660px;
    justify-content: center;
}
/* contenedor de desenlace */

.contenido-medio {
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: -40px;
    padding: 100px;
    letter-spacing: 0.08em;
}

.puntos-de-vista {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.parrafos-centrales { 
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px; 
    letter-spacing: 0.03em;
}

/* primeras imagenes */

.articulo-de-imagenes {
    margin-top: -130px;
    padding-left: 235px;
}

.titulo-de-las-primeras-imagenes {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 100px;
    margin-right: 240px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* segunas imagenes */

.titulo-de-las-segundas-imagenes {
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 100px;
    margin-right: 10px;
    padding-top: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.segundas-imagenes-1 {
    
    background-color: white;
}

.segundas-imagenes-2 {
    background-color: white;
}

.segundas-imagenes-3 {
    background-color: white;
}

.segundas-imagenes-4 {
    background-color: white;
}

.nuestro-equipo {
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1510px;
    background: #F5F4FA;
    
}

.nuestro-equipo-imagenes {
    display: flex;
    margin-left: 100px;
}

.nombres-de-el-grupo-de-trabajo-1{
    text-align: center;
}

.nombres-de-el-grupo-de-trabajo-2{
    text-align: center;
}

.nombres-de-el-grupo-de-trabajo-3{
    text-align: center;
}

.nombres-de-el-grupo-de-trabajo-4{
    text-align: center;
}

/* parte baja */

.parte-baja {
    padding-top: 10px;
    padding-bottom: 12px;
    background: #2F303A;
}
 
.logo-principal-2 {
    margin-top: 25px;
    margin-left: 40px;
    color: #2196F3;
    font-size: 45px;
}

.fin {
    margin-left: 100px;
}